<div class=" d-flex justify-content-center mt-3 ">
    <h1>Renting made easy</h1>
</div>
  <div class="row">
      <div class="col-6 d-flex justify-content-end mt-3">
        <img src="https://renting.cooltra.com/img/permanenciaSup.png" alt="" />
      </div>
    <div class="col-6 d-flex justify-content-start mt-3 ">
      <img
        src="https://www.openfly.fr/contentfiles/N5DKKAqKCULrvsjP0NADCLQzwDgBXwrh2VIWLG2M.webp"
        alt=""
      />
    </div>
    <div class="col-6 d-flex justify-content-end mt-3">
      <img
        src="https://images.inc.com/uploaded_files/image/1920x1080/getty_649362670_395940.jpg"
        alt=""
      />
    </div>
    <!-- </div> -->

    <!-- <div class="row mt-4"> -->
        
    <div class="col-6 d-flex justify-content-start mt-3">
      <img
        src="https://www.discoverboating.com/sites/default/files/inline-images/boat-rentals.jpg"
        alt=""
      />
    </div>
  </div>
